p {
    color: white;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.text h1 {
    width: 50%;
}

.text p {
    width: 50%;
}

.extern-link {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.svg-link-icons {
    width: 10%;
    padding: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
}