@keyframes opacity-in {
    100% {
        opacity: 1;
    }
}

body {
    background-image: url(../assets/test3.jpg);
    background-repeat: no-repeat;
    background-size: cover;



}

h1 {
    color: white;
    text-align: center;
    margin-top: 3%;
}

.logo-welcome {
    width: 20%;
    display: block;
    margin-left: 10%;
    margin-top: 10%;
    opacity: 0.01;
    animation: opacity-in 5s forwards;
}


a {
    text-decoration: none;
}

a .btn-welcome {
    display: block;
    margin-left: 18%;
    margin-top: 2%;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.01;
    animation: opacity-in 7.5s forwards;
    cursor: pointer;
}